
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    
}


main{
    padding: 120px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 400px;
    margin: 5px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header{

    padding: 8px;
    text-align: center;
    background-color: #7295e7;
        font-size:20px;
}
h1 {
	font-weight: 800;
	margin: 1rem 0 0;
}
label {
    display: block;
    margin-bottom: 5px;
}

.formulario {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.enviar{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    
}

