* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #343a40;
    color: white;
}

header h1 {
    margin: 0;
    flex-grow: 1;
    text-align: center; 
    color: white; 
}

.btn {
    padding: 0.3em 0.8em; 
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px; 
}

.btn:hover {
    background-color: #0056b3;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.container {
    max-width: 500px;
    margin: 20px auto; 
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

h1 {
    font-weight: 800;
    margin: 1rem 0;
    text-align: center; 
    color: #333; 
}

label {
    display: block;
    margin-bottom: 5px;
}

.formulario {
    width: 400px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.enviar {
    width: auto; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    background-color:#007bff;
    color: #fff;
    cursor: pointer;
}
